#wrap	{
	width: 100%; /* Spans the width of the page */
	height: 3.1em; 
	margin: 0;
	z-index: 99; /* Makes sure that your menu remains on top of other page elements */
	position: relative; 
	background-color: #444444;
	}

.navbar	{
	height: 100%;
        padding: 0;
	margin: 0;
	position: absolute; /* Ensures that the menu doesn’t affect other elements */ 
	}

.navbar li 	{
			height: auto;
			width: 12em;  /* Each menu item is 150px wide */
			float: left;  /* This lines up the menu items horizontally */
			text-align: center;  /* All text is placed in the center of the box */
			list-style: none;  /* Removes the default styling (bullets) for the list */
			font: normal bold 12px/1.2em Helvetica;  
			padding: 0;
			margin: 0;
			background-color: #444444;
                        }

.navbar a	{							
		padding: 12.5% 0;  /* Adds a padding on the top and bottom so the text appears centered vertically */
		text-decoration: none;  /* Removes the default hyperlink styling. */
		color: white; /* Text color is white */
		display: block;
		}
 .navbar li:hover, a.nav:hover {background-color: #f1c4c1;} 


.navbar li ul li a.nav:hover	{background-color: #f1c4c1;}

#drop 	{
    position:absolute;
    width:inherit;
		display: none;  /* Hides the drop-down menu */
		height: auto;									
		margin: 0; /* Aligns drop-down box underneath the menu item */
		padding: 0; /* Aligns drop-down box underneath the menu item */			
		}				

.navbar li:hover #drop 	{
                        display: block; /* Displays the drop-down box when the menu item is hovered over */
                        }

 #drop li {background-color: #444444;} 
.navbar li ul li a 	{
		
		}
				
.navbar li ul li a:hover	{background-color: #f1c4c1;}

#pagecontainer{
    width:1366px;
    height:"relative";
    margin:0 auto;
}

/*COLUMNS*/

@font-face{font-family:'Calluna';
 src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/callunasansregular-webfont.woff') format('woff');
}
body {
    background-color: white; 
  font-family: Calluna, Arial, sans-serif;
  /*min-height: 1000px;*/
   /* height: 100%;
    width:100%;*/
    margin:0px;
}
#columns {
	column-width: 20em;
	column-gap: 1em;
  width: 90%;
	/*max-width: 1300px;*/
	margin: 3% auto;
}

div#columns figure.normal {
	background: #fefefe;
	border: .3em solid #fcfcfc;
	box-shadow: 0 .1em .2em rgba(34, 25, 25, 0.4);
	margin: 0 1% 5%;
	padding: 5%;
	padding-bottom: 5%;
	/*transition: opacity .4s ease-in-out;*/
  display: inline-block;
  column-break-inside: avoid;
}

div#columns figure img {
	width: 100%; height: auto;
	border-bottom: 1% solid #ccc;
	padding-bottom: 4%;
	margin-bottom: 2%;
}

div#columns figure video {
    width: 100%; height: auto;
	border-bottom: none;
	padding-bottom: 1%;
	margin-bottom: 0;
}

#videoContainer{
    position: relative;
    right:9%;
    display: none;
    height:auto;
    background: none;
	border: none;
	box-shadow: none !important;
	margin: none;
	padding: none;
	padding-bottom: 0px;
	/*transition: opacity .4s ease-in-out;*/
  display: inline-block;
  column-break-inside: avoid;
}

h1{
    font-size: 2em;
    color: #444444;
    font-family: 'Oswald', sans-serif;
}

h2{
    font-size: 1.1em;
    color:#f1c4c1;
}

p{
     font-size: .9rem;
	color: #444;
  line-height: 1.5;
}

#video{
    width:80%;
}

#info{
    position: absolute;
    
}

div#columns figure figcaption {
  font-size: .9rem;
	color: #444;
  line-height: 1.5;
}

 #video figcaption {
  font-size: .9rem;
	color: #444;
  line-height: 1.5;
}

div#columns small { 
  font-size: 1rem;
  float: right; 
  text-transform: uppercase;
  color: #aaa;
} 

div#columns small a { 
  color: #666; 
  text-decoration: none; 
  transition: .4s color;
}


div#columns:hover figure.normal:hover {
	opacity: 0.5;
}

@media screen and (max-width: 750px) { 
  #columns { column-gap: 0px; }
  #columns figure { width: 100%; }
}

/*SOCIAL MEDIA ICONS*/


#img_cont {
  display: table;
  width: 40%;
}

#img_cont a {
  display: inline;
    float: left; 
  text-align: center;
  width: 40%;
}

#img_cont img {
  width: 100%;
  max-width: 150px;
    border-bottom:none;
}
    
