

#video{
 width:300px;
    height:300px;
    margin-bottom: 7%;
}

.videocontainer{
    width:300px;
    height:300px;
    margin-bottom: 7%;
}

.container {
  width: 15%;
  margin: 0 auto;
    height: 5%;
}




iframe{
    margin:9%;
}

#map-image{
    width: 50%;
    margin-bottom: 20px;

}

#sidebar-heading{
    margin-top: 5%;
}
