body {
    background-color: white; 
  font-family: Calluna, Arial, sans-serif;
  min-height: 1000px;
    margin:0px;
}

/*NAV BAR*/
#wrap	{
	width: 100%; /* Spans the width of the page */
	height: 50px; 
	margin: 0;
	z-index: 99; 
	position: relative; 
	background-color: #444444;
	}

.navbar	{
	height: 40px;
        padding: 0;
	margin: 0;
	position: absolute; /* Ensures that the menu doesn’t affect other elements */
	border-right: 1px solid #54879d; 
	}

.navbar li 	{
			height: auto;
			width: 150px;  /* Each menu item is 150px wide */
			float: left;  /* This lines up the menu items horizontally */
			text-align: center;  /* All text is placed in the center of the box */
			list-style: none;  /* Removes the default styling (bullets) for the list */
			font: normal bold 12px/1.2em Helvetica;  
			padding: 0;
			margin: 0;
			background-color: #444444;
                        }

.navbar a	{							
		padding: 18px 0;  /* Adds a padding on the top and bottom so the text appears centered vertically */
		text-decoration: none;  /* Removes the default hyperlink styling. */
		color: white; /* Text color is white */
		display: block;
		}
 .navbar li:hover, a.nav:hover {background-color: #f1c4c1;} 


.navbar li ul li a.nav:hover	{background-color: #f1c4c1;}

#drop 	{
    position:absolute;
    width:inherit;
		display: none;  /* Hides the drop-down menu */
		height: auto;									
		margin: 0; /* Aligns drop-down box underneath the menu item */
		padding: 0; /* Aligns drop-down box underneath the menu item */			
		}				

.navbar li:hover #drop 	{
                        display: block; /* Displays the drop-down box when the menu item is hovered over */
                        }

 #drop li {background-color: #444444;} 
.navbar li ul li a 	{
		
		}
				
.navbar li ul li a:hover	{background-color: #f1c4c1;}

#pagecontainer{
    width:1366px;
    height:relative;
    margin: 0 auto;
}

/*IMAGE*/

img{
    width:100%;
}
#imagecontainer{
    width:500px;
    height:relative;
    margin:50px 40px 10px 50px;
    float: left;
}

/*INFO*/
#info{
    width:720px;
    height:500px;
    background-color:#a4b6ce;
    float:left;
    margin: 50px 50px 50px 0px;
}

h1{
    font-family: 'Oswald', sans-serif;
    margin: 30px 50px 0px 50px;
    color:white;
    text-transform: uppercase;
    
}

h2{
    font-family: "Oswald", sans-serif;
    color: white;
    margin: 30px 30px;
}

p{
    margin: 30px 50px;
    color:white;
    font-size: 1.5em;
    line-height: 40px;
}

/*LINE*/
hr{
    display:block;
    border-style:solid;
    color:#4b484f;
    border-bottom-width: 12px;
    width:93.5%;
    margin-bottom: 0px;
    
}

#info a{
    text-decoration: none;
    color: white;
}

